</html><!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/root.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/post.css">
    <link rel="stylesheet" href="stylesheets/aside.css">
    <link rel="stylesheet" href="stylesheets/side.css">
    <title>Jobs | CCSM </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jura:wght@700&display=swap');
    </style>
    <script src="js/post.js"></script>
</head>
<body>
    <%- include("./part/header") %>

    <div class="clear"></div>

    <div class="content">
        <%- include("./part/side") %>
        <div class="main">
            <div class="write br bs">
                <div class="options-write">
                    <div class="avatar-user">
                        <a href="/profile">
                            <img src="<%= info_base.profile.avatar_url %>" class="profile-nav" alt="">
                        </a>
                    </div>
                    <div class="write-image">
                        <img src="./images/feed/picture.svg" alt="">
                    </div>
                </div>
                    <form action="/post" method="post">
                        <textarea class="write-box" id="write-box" placeholder="No que você está pensando?" name="post_content"></textarea>
                        <button type="submit">Publicar</button>
                    </form>
            </div>
            <div id="postsMain">
                <% allposts.posts.reverse().forEach((post) => { %>
                    <div class="post br bs">
                        <div class="profile-post">
                            <div class="avatar-post">
                                <img src="<%- post.avatar_url %>" alt="">
                            </div>
                            <div class="text-profile-post">
                                <h2><%- post.username %></h2>
                                <span><%- post.createdAt %></span>
                            </div>
                        </div>
                        <div class="content-post">
                            <p>
                                <%- post.content %>
                            </p>
                        </div>
                        <div class="image-post">
                            <img src="images/exemplo/google-sp.webp" alt="">
                        </div>
                        <div class="interactions-post">
                            <span><%- post.interactions.likes %> Curtidas</span>
                            <span><%- post.interactions.comments %> Comentários</span>
                            <span><%- post.interactions.shared %> Compartilhamentos</span>
                        </div>
                        <div class="hr-post">
                            <div class="hr2-post"></div>
                        </div>
                        <div class="buttons-post">
                            <a href="#">
                                <div class="interactions">
                                    <div class="interactions-icon">
                                        <img src="images/feed/like.svg" alt="">
                                    </div>
                                    Curtir
                                </div>
                            </a>
                            <a href="#">
                                <div class="interactions">
                                    <div class="interactions-icon">
                                        <img src="images/feed/comment.svg" alt="">
                                    </div>
                                    Comentar
                                </div>
                            </a>
                            <a href="#">
                                <div class="interactions">
                                    <div class="interactions-icon">
                                        <img src="images/feed/share.svg" alt="">
                                    </div>
                                    Compartilhar
                                </div>
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="aside">
            <div class="aside_sticky br bs">

                <div class="anuncio">
                    <h1>Anúncios</h1>
                    <div class="anuncio_box">
                        <div class="anuncio_imagem">
                            <img src="./images/feed/anuncios/petro.jpg" alt="">
                        </div>
                        <div class="anuncio_conteudo">
                            <p>Somos movidos pelo desafio de prover energia de forma ética, segura e competitiva.</p>
                        </div>
                    </div>
                    <div class="anuncio_box">
                        <div class="anuncio_imagem">
                            <img src="./images/feed/anuncios/itau.png" alt="">
                        </div>
                        <div class="anuncio_conteudo">
                            <p>Projeto apadrinhe um sonhador.
                                O Itaú investe no seu sonho</p>
                        </div>
                    </div>
                    <div class="anuncio_box">
                        <div class="anuncio_imagem">
                            <img src="./images/feed/anuncios/apple.jpg" alt="">
                        </div>
                        <div class="anuncio_conteudo">
                            <p>Patrocinando sonhos.... 
                                Aqui seus sonhos são nossos também</p>
                        </div>
                    </div>
                    <div class="anuncio_box">
                        <div class="anuncio_imagem">
                            <img src="./images/feed/anuncios/aws.jpg" alt="">
                        </div>
                        <div class="anuncio_conteudo">
                            <p>Para um sonho ser realizado só precisa de alguém que acredite que é possível, a aws acredita em você!</p>
                        </div>
                    </div>
                </div>

                <div class="noticias">
                    <h1>Notícias do Mundo</h1>
                    <div class="noticias_conteudo">
                        <p>Pesquisadores terão acesso a crédito de nuvem da AWS para ...
                            A AWS apoia projetos de pesquisa desde 2009 com o programa Cloud Credits for Research (Créditos de Nuvem para Pesquisa), que ajuda pesquisadores...</p>
                        <p>Itaú fará custódia de Bitcoin e criptomoedas
                            O Itaú Digital Assets, divisão do banco brasileiro que lida com o mercado de criptomoedas, quer começar a custodiar bitcoin em 2023.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
    </script>
</body>
</html>