</html><!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/root.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/profile.css">
    <link rel="stylesheet" href="stylesheets/post.css">

    <title>Jobs | CCSM </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jura:wght@700&display=swap');
    </style>
    <script src="js/post.js"></script>
</head>
<body>
    <%- include("./part/header") %>

    <div class="clear"></div>

    <div class="content">
        <div class="profile br">
            <div class="bio bs br">
                <div class="folder">
                    <div class="edit_btn" onclick="edit()">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 122.88" style="enable-background:new 0 0 122.88 122.88" xml:space="preserve"><g><path d="M61.44,0c16.97,0,32.33,6.88,43.44,18c11.12,11.12,18,26.48,18,43.44c0,16.97-6.88,32.33-18,43.44 c-11.12,11.12-26.48,18-43.44,18S29.11,116,18,104.88C6.88,93.77,0,78.41,0,61.44C0,44.47,6.88,29.11,18,18 C29.11,6.88,44.47,0,61.44,0L61.44,0z M77.05,36.16c-0.6-0.56-1.28-0.85-2.05-0.81c-0.77,0-1.45,0.3-2.01,0.9l-4.53,4.7L81.15,53.2 l4.57-4.78c0.56-0.55,0.77-1.28,0.77-2.05c0-0.77-0.3-1.49-0.85-2.01L77.05,36.16L77.05,36.16L77.05,36.16z M53.31,82.11 c-1.67,0.56-3.37,1.07-5.04,1.62c-1.67,0.56-3.33,1.11-5.04,1.67c-3.97,1.28-6.15,2.01-6.62,2.14c-0.47,0.13-0.17-1.71,0.81-5.55 l3.16-12.09l0.26-0.27L53.31,82.11L53.31,82.11L53.31,82.11L53.31,82.11z M45.45,64.83L65.04,44.5l12.68,12.21L57.92,77.3 L45.45,64.83L45.45,64.83z M101.08,21.8C90.93,11.66,76.92,5.39,61.44,5.39S31.95,11.66,21.8,21.8 C11.66,31.95,5.39,45.96,5.39,61.44c0,15.48,6.27,29.49,16.42,39.64c10.14,10.14,24.16,16.42,39.64,16.42s29.49-6.27,39.64-16.42 c10.14-10.14,16.42-24.16,16.42-39.64C117.49,45.96,111.22,31.95,101.08,21.8L101.08,21.8z"/></g></svg>
                    </div>
                    <img src="./images/profile/folder.jpg" alt="">
                </div>
                <div class="profile_bio">
                    <div class="profile_avatar_big">
                        <div id="avatar_button" onclick="button_avatar()"></div>
                        <img src="<%= info_base.profile.avatar_url %>" class="avatar big" alt="">
                    </div><!--Avatar-->
                    <div class="details">
                        <div class="text_details">
                            <div class="nome">
                                <%= info_base.profile.name %>
                                <span class="pronoun"><%= info_base.profile.pronoun  %></span>
                            </div>
                            <div class="current_position">
                                <%= info_base.profile.current_position  %>
                            </div>
                            <div class="location">
                                <%= info_base.profile.location  %>
                            </div>
                        </div>
                        <div class="organization">
                            <div class="organization_icon">
                                <img src="./images/profile/office.svg" class="_profile avatar ico" alt="">
                            </div>
                            <div class="text_organization"><%= info_base.profile.sector  %></div>
                        </div>
                    </div><!--Nome projeto empreesa local-->
                </div>
            </div>

            <div id="postsMain">
                <% info_base.posts.reverse().forEach((post) => { %>
                    <div class="post br bs">
                        <div class="profile-post">
                            <div class="avatar-post">
                            </div>
                            <div class="text-profile-post">
                                <h1><%- post.username %></h1>
                                <span><%- post.createdAt %></span>
                            </div>
                        </div>
                        <div class="content-post">
                            <p>
                                <%- post.content %>
                            </p>
                        </div>
                        <div class="image-post">
                            <img src="images/exemplo/google-sp.webp" alt="">
                        </div>
                        <div class="interactions-post">
                            <span><%- post.interactions.likes %> Curtidas</span>
                            <span><%- post.interactions.comments %> Comentários</span>
                            <span><%- post.interactions.shared %> Compartilhamentos</span>
                        </div>
                        <div class="hr-post">
                            <div class="hr2-post"></div>
                        </div>
                        <div class="buttons-post">
                            <a href="#">
                                <div class="interactions">
                                    <div class="interactions-icon">
                                        <img src="images/feed/like.svg" alt="">
                                    </div>
                                    Curtir
                                </div>
                            </a>
                            <a href="#">
                                <div class="interactions">
                                    <div class="interactions-icon">
                                        <img src="images/feed/comment.svg" alt="">
                                    </div>
                                    Comentar
                                </div>
                            </a>
                            <a href="#">
                                <div class="interactions">
                                    <div class="interactions-icon">
                                        <img src="images/feed/share.svg" alt="">
                                    </div>
                                    Compartilhar
                                </div>
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
            
        </div>
        <div class="aside">
            <div class="aside_sticky bs br"></div>
        </div>
    </div>

    <script>
        function edit() {
            var div = document.createElement('div');
            div.id = 'edit'
            document.body.appendChild(div);
            
            var div = document.createElement('div');
            div.innerHTML = '<%- include("./edit").replace(/(\r\n|\n|\r)/gm, ""); %>'
            document.getElementById('edit').appendChild(div);
        }

        function close_edit(id) {
            document.getElementById(id).remove()
        }

        function button_avatar() {
            var div = document.createElement('div');
            div.className = 'Upload_avatar'
            div.innerHTML = '<%- include("./upload_avatar").replace(/(\r\n|\n|\r)/gm, ""); %>'
            document.getElementById('avatar_button').appendChild(div)
        }
    </script>
</body>
</html>